body {
    margin: 0;
    padding: 0;
}

#cabecalho {
    height: 70px;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    align-items: center;
    width: 100vw;
}

#cabecalho img {
    height: 100px;

}

.logo {
  margin-left: 70px;
}

#menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin-right: 70px;
   
}

#menu ul a {
    text-decoration: none;
    color: #c0c0c0;
    font-size: 1.4rem;
    margin: 0 15px;  
    position: relative;
    display: inline-block;

}

#menu a::after {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    margin-top: 2px;
    transition: 0.7s ease;
    width: 0px;
    position: absolute;
}

#menu a:hover::after {
    width: 100%;
}

/* BANNER */

#banner {
    background-image: url(../imagens/background-banner.svg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 800px;
}


/* QUEM SOMOS */

#quem-somos {
    background-color: #42444C;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#quem-somos h1 { 
    font-size: 48px;
}
#quem-somos .container {
    color: #fff;
    width: 1200px;
    display: flex;
    gap: 50px;
    align-content: center;

}

#quem-somos .container p {
    margin-top: 50px;
}




/* AVALIAÇÕES */

#avaliacoes {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #747474; 
}

#avaliacoes h2 {
    color: #fff;
    font-size: 48px;
}



.avaliacoes_cards {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: #D9D9D9;
    margin: 32px;
    border-radius: 24px;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
}

.card span {
    font-weight: bold;
    font-size: 24px;
    background-color: #747474;
    padding: 25px;
    border-radius: 50%;
    color: #FFF;
    width: 40px;
    text-align: center;
    border: 1px solid #FFD702;
}

.card p {
    font-weight: bold;
}



/* RESPONSIVO */
@media (max-width: 800px) {
    #cabecalho {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
     
    }
    .logo {
        margin: 0px
      }

}